[submodule "themes/black-blue"]
	path = themes/black-blue
	url = https://github.com/maochunguang/black-blue.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next
